In [ ]:
frutas = ["Maçã", "Laranja", "Abacaxi", "Melão"]
print(frutas[2], end=" ")
print(frutas[-2], end=" ")

Abacaxi Abacaxi

In [4]:
def exibir_mensagem():
  print("Seja bem vindo!")

exibir_mensagem()

def exibir_mensagem_2(nome):
  print(f"Seja bem vindo {nome}")

exibir_mensagem_2("João")

def exibir_mensagem_3(nome2="Anônimo"):
  print(f"Seja bem vindo, {nome2}")

exibir_mensagem_3()
exibir_mensagem_3(nome2="João P.")

Seja bem vindo!
Seja bem vindo João
Seja bem vindo, Anônimo
Seja bem vindo, João P.

In [6]:
def criar_carro(modelo, ano, /, placa, marca, *, motor, combustivel):
  print(modelo, ano, placa, marca, motor, combustivel)

criar_carro("Palio", "2008", "abc1234", "Fiat", motor=1.0, combustivel="Flex")

Palio 2008 abc1234 Fiat 1.0 Flex

In [12]:
def somar(a, b):
  return a+b

def multiplicar(a, b):
  return a*b

def exibir_resultado(a, b, funcao):
  resultado = funcao(a, b)
  print(f"O resultado da operação é {resultado}")

exibir_resultado(5, 10, somar)
exibir_resultado(10, 20, multiplicar)

O resultado da operação é 15
O resultado da operação é 200

In [15]:
salario = 2000

def salario_bonus(bonus):
  global salario
  salario += bonus
  return salario

salario_bonus(500)

2500